/*#region General*/
:root {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
        
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* #region Varialbes */
    --main-text-color: white;
    --nav-text-color: #F0F0F0;

    --weather-card-text-color: black;
    --weather-card-gradient-first-color: rgba(255, 255, 255, 0.83);
    --weather-card-gradient-second-color: rgba(239, 239, 239, 0.85);

    --info-card-color: #aaaaaa;

    --share-popup-color: black;
    --share-popup-background-color: white;
    /* #endregion */
}

html{
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;

    padding: 0;
    margin: 0;
}

body{
    color: var(--main-text-color);
    background-color: black;
}

@media (prefers-reduced-motion: no-preference){
    * {
      scroll-behavior: smooth;
    }
  }
/*#endregion */



/*#region Elements*/
h2{
    z-index: 2;

    font-size: 7rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.75rem;
    white-space: nowrap;

    filter: drop-shadow(0px 0px 2.5rem black)
            drop-shadow(0px 0px 2.5rem black)
            drop-shadow(0px 0px 2.5rem #00000088);
}

.nav-text{
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: var(--nav-text-color);

    font-size: 1.5rem;
    text-align: center;
}

@media (max-width: 1024px){
    h2{
        font-size: 4rem;

        filter: drop-shadow(0px 0px 1.5rem black)
                drop-shadow(0px 0px 1.5rem black)
                drop-shadow(0px 0px 1.5rem black);
    }
}

@media (max-width: 768px){
    h2{
        font-size: 3rem;
        letter-spacing: 0.5rem;

        filter: drop-shadow(0px 0px 1.25rem black)
                drop-shadow(0px 0px 1.25rem black)
                drop-shadow(0px 0px 1.25rem black);
    }

    .nav-text{
        bottom: 3%;
        font-size: 1.25rem;
    }
}

@media (max-width: 425px){
    h2{
        font-size: 2rem;

        filter: drop-shadow(0px 0px 1rem black)
                drop-shadow(0px 0px 1rem black)
                drop-shadow(0px 0px 2rem black)
                drop-shadow(0px 0px 2rem black)
    }
}
/*#endregion */



/*#region Helpers/Common*/
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
/*#endregion */