/* #region Main */
.info-card-container{
    position: relative;

    width: 40rem;
}

.info-card-bg-img{
    max-width: 100%;
    height: auto;
    border-radius: 15px;

    filter: brightness(40%);

    object-fit: cover;
    aspect-ratio: 17/10;

    transition: 300ms;
}

.info-card-container:hover .info-card-bg-img{
    filter: brightness(30%);
}
/* #endregion */


/* #region Text */
.info-card-text-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;

    transition: 300ms;
}

.info-card-container:hover .info-card-text-container{
    transform: scale(1.025) translate(-48.75%, -48.75%);
    filter: drop-shadow(0px 0px 4px #000000);
}

.info-card-info, .info-card-quote{
    text-align: center;
    white-space: pre-line;
}

.info-card-info{
    font-size: 1.25rem;

}

.info-card-quote{
    margin-top: 2rem;

    font-size: 1.375rem;
}
/* #endregion */


/* #region Scroll */
.info-card-scroll-button{
    position: absolute;
    top: 50%;

    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;

    background: transparent;

    cursor: pointer;

    transition: 300ms;
}

.right{
    right: 12px;
}

.left{
    left: 12px;
    transform: scaleX(-1);
}

.info-card-scroll-button:hover{
    transform: scale(1.3);
    background-color:#aaaaaa;
    filter: drop-shadow(0px 0px 5px #FFFFFF44);
}

.info-card-scroll-button.left:hover{
    transform: scale(-1.3, 1.3);
}


.info-card-container:has(.info-card-scroll-button:hover) .info-card-bg-img{
    filter: brightness(20%);
}

.info-card-container:has(.info-card-scroll-button:hover) .info-card-text-container{
    transform: scale(1.0125) translate(-49.375%, -49.375%);
    filter: brightness(95%);
}
/* #endregion */


/* #region Indicator */
.info-card-img-indicator-container{
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.info-card-img-indicator{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 4px solid #aaaaaa;

    background-color: transparent;

    cursor: pointer;

    transition: 200ms;
}

.fill{
    background-color: #aaaaaa;
}
/* #endregion */


/* #region Share */
.info-card-share-button{
    position: absolute;
    bottom: 20px;
    right: 20px;

    border: none;
    background-color: transparent;

    cursor: pointer;

    transition: 200ms;
}

.info-card-share-svg{
    width: 50px;
    height: auto
}

.info-card-share-button:hover{
    transform: scale(1.1);
}
/* #endregion */