/* #region: Animations */
    @keyframes fade-in {
        0%{
            opacity: 0;
        }    
        100%{
            opacity: 100%;
        }
    }

    @keyframes fade-out {
        to {opacity: 0; pointer-events: none;}
    }

    @keyframes slide-in-left{
        0%{
            transform: translateX(-60%);
            scale: 0.9;
            opacity: 0;
        }
        100%{
            scale: 1;
            opacity: 1;
        }
    }
/* #endregion */


/* #region: General */
.intro-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/* #endregion */


/* #region: Background image */
.bg-img{
    position: fixed; 
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    opacity: 0;

    margin: 0;

    animation: fade-in 1s linear 0s 1 forwards;
}
/* #endregion */


/* #region: Intro text */
.intro-title{
    opacity: 0;
    animation: slide-in-left 1s ease-in-out 0.25s 1 forwards;
}

.intro-subtitle, .intro-text{
    opacity: 0;
    animation: slide-in-left 1s ease-in-out 0s 1 forwards;
}

.intro-title-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.intro-subtitle{
    position: relative;
    z-index: 3;

    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5rem;

    filter: drop-shadow(0px 0px 0.75rem black)
}

.intro-subtitle.bottom-subtitle{
    text-align: right;
}

.intro-text{
    position: absolute;
    z-index: 3;
    transform: translate(-50%, -50%);
    
    font-size: 1.75rem;
    letter-spacing: 0.25rem;
    text-align: center;

    filter: drop-shadow(0px 0px 0.5rem black);

    /* Variables passed from IntroDisplay.jsx */
    top: var(--top, auto);
    left: var(--left, auto);
    bottom: var(--bottom, auto);
    right: var(--right, auto);
}

.intro-text:nth-of-type(3) { transform: translate(50%, 0);}

@media (max-width: 1024px){
    .intro-subtitle{
        font-size: 1.25rem;
    }

    .intro-text{
        font-size: 1.5rem;
    }

    .intro-text:nth-of-type(1) { left: calc(var(--left) * 1.2);}
    .intro-text:nth-of-type(2) { left: calc(var(--left) * 1.2);}
    .intro-text:nth-of-type(3) { right: calc(var(--right) * 1.2);}
}

@media (max-width: 768px){
    .intro-subtitle{
        font-size: 1rem;
        filter: drop-shadow(0px 0px 0.5rem black)
    }

    .intro-text{
        font-size: 1.25rem;
    }

    .intro-text:nth-of-type(1) { left: calc(var(--left) * 1.4);}
    .intro-text:nth-of-type(2) { left: calc(var(--left) * 1.4);}
    .intro-text:nth-of-type(3) { right: calc(var(--right) * 1.4);}
}

@media (max-width: 425px){
    .intro-text:nth-of-type(1) { left: 50%;}
    .intro-text:nth-of-type(2) { left: 50%;}
    .intro-text:nth-of-type(3) { right: 50%}
}
/* #endregion */

.show-more{
    opacity: 0;
    animation: slide-in-left 0.5s ease-in-out 1s 1 forwards;
}

.show-more-container{
    animation: fade-out linear forwards;
    animation-timeline: view(-10% 50%);
}