.share-button{
    position: absolute;
    bottom: 20px;
    right: 20px;

    border: none;
    background-color: transparent;

    cursor: pointer;

    transition: 200ms;
}

.share-svg{
    width: 50px;
    height: auto
}

/* #region Responsive Design */
@media screen and (max-width: 768px) {
    .share-svg {
        width: 40px;
    }
}


@media screen and (max-width: 375px) {
    .share-svg {
        width: 30px;
    }
}
/* #endregion */