/* #region Containers */
.weather-card-container{
    color: var(--weather-card-text-color);
    box-shadow: 0 0 3rem 1rem #00000099;

    background: radial-gradient(circle, var(--weather-card-gradient-first-color) 0%, var(--weather-card-gradient-second-color) 100%);

    transition: 200ms;
}

.weather-card-container:hover{
    transform: scale(1.025);
}

.weather-card-container, .weather-card-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 11rem;
    border-radius: 18px;
}

.weather-card-main {
    position: relative;
    z-index: 0;
    overflow: hidden; 
}

.weather-card-container:hover .weather-card-main{
    box-shadow: 0 0 3rem 0.5rem #00000099;
}

.weather-card-main::before {
    content: '';
    position: absolute;
    inset: 0;
    background: radial-gradient(circle, var(--weather-card-gradient-first-color) 0%, var(--weather-card-gradient-second-color) 100%);
    opacity: 0;
    transition: 200ms;
    z-index: -1;
}

.weather-card-container:hover .weather-card-main::before {
    opacity: 1;
}

.weather-card-dropdown{
    max-height: 0;
    opacity: 0;

    transition: 200ms;
}

.weather-card-container:hover .weather-card-dropdown{
    max-height: 3.5rem;
    opacity: 1;
}
/* #endregion */


/* #region Text */
.weather-card-value{
    margin-top: 2rem;

    font-size: 4.33rem;
    font-weight: 300;
    letter-spacing: 0.2rem;
}

.weather-card-icon{
    margin-top: 1rem;

    font-size: 6.25rem;
}

.weather-card-title{
    margin-top: 1rem;

    font-size: 1.6rem;
    font-weight: 300;
}

.weather-card-extra{
    margin: 0.5rem 0 1rem 0;

    font-size: 1rem;
    font-weight: 200;
}

.weather-card-dropdown-text{
    margin: 0.75rem;

    font-size: 1rem;
    font-weight: 200;
}
/* #endregion */


/* #region Media queries */
@media (max-width: 1024px){
    .weather-card-container, .weather-card-main {

        width: 10rem;
    }

    .weather-card-value{
        margin-top: 1.75rem;

        font-size: 4rem;
    }

    .weather-card-icon{
        margin-top: 0.875rem;

        font-size: 5.6875rem;
    }

    .weather-card-title{
        margin-top: 1rem;

        font-size: 1.3rem;
    }

    .weather-card-extra, .weather-card-dropdown-text{
        font-size: 0.9rem;
    }
}

@media (max-width: 768px){
    .weather-card-container, .weather-card-main {

        width: 9rem;
    }

    .weather-card-value{
        margin-top: 1.5rem;

        font-size: 3.5rem;
        letter-spacing: 0.1rem;
    }

    .weather-card-icon{
        margin-top: 0.75rem;

        font-size: 5rem;
    }

    .weather-card-title{
        margin-top: 0.75rem;

        font-size: 1.2rem;
    }

    .weather-card-extra, .weather-card-dropdown-text{
        font-weight: 250;
    }

    .weather-card-container:hover .weather-card-dropdown{
        max-height: 2.5rem;
    }
}

@media (max-width: 425px){
    .weather-card-container, .weather-card-main {

        width: 8.5rem;
    }

    .weather-card-value{
        margin-top: 1.25rem;

        font-size: 3.25rem;
    }

    .weather-card-icon{
        margin-top: 0.625rem;

        font-size: 4.5625rem;
    }

    .weather-card-title{
        margin-top: 0.5rem;

        font-size: 1.1rem;
        font-weight: 350;
    }

    .weather-card-extra, .weather-card-dropdown-text{
        font-weight: 300;
    }
}
/* #endregion */